.carouselContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 800px) 1fr;
}

.carouselWrapper {
  grid-column: 2;
  padding: 2rem;
}

.carousel {
  position: relative;
  /* width: 680px; */
  /* width: 100%; */
  aspect-ratio: 4/3;
  height: 90vh; 
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out; /* Smooth fade */
}

.carouselImage.active {
  opacity: 1;
  z-index: 2;
}